
// Named Colors
@grey-dark:   #333;
@grey-medium: #777;
@grey-light:  #ddd;

@slate-dark:   #556270;
@green-light: #C7F464;
@aqua-light:  #4ECDC4;

.network-chart {

    // Nodes
    .node {
        fill: @green-light;
    }

    .node-highlight{
        fill: @aqua-light;
    }

    .node-center {
        fill: @aqua-light;
        stroke: @slate-dark;
        stroke-width: 3;
    }

    .node-clickable {
        cursor: pointer;
        stroke: @slate-dark;
        stroke-width: 2;
        stroke-opacity: 0.5;
    }

    // Node Labels
    text.node-label {
        fill: @grey-dark;
        text-anchor: start;
        font-family: sans-serif;
        font-size: 12px;
    }

    // Node Types
    .persona {

    }

    // Links
    .link {
        stroke: @aqua-light;
        stroke-opacity: .5;
        stroke-width: 2;
    }

    // Node Link
    .url-container {
        fill: @grey-dark;
        a {
            text-decoration: none;
        }
        .url-container-icon {
            font-family: FontAwesome;
        }
    }

    // Background
    rect.background {
        fill: @grey-light;
    }


    // Brand
    .brand text {
        fill: @grey-medium;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
    }

    // Refresh Button
    .refresh-button{
        fill: white;
        stroke: black;
        stroke-width: 2;
        .refresh-button-arrow{
            fill: black;
            font-collor: black;
            font-family: FontAwesome;
            stroke-width: 0.4;
        }
    }

    //Zoom in and out buttons
    .zoom-in-button {

    }

    .zoom-out-button {

    }
}


